*
{
    font-family:'Roboto', sans-serif;
    margin: 0;
    /* outline: 5px red solid; */


}

body
{
    display: flex;
    flex-direction: column;

}


/* header style section */
.header
{

    background: #1F2937;
    color: white;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    /* outline: 1px red solid */


}
.header .big
{

    width: 1050px;
    font-size: 24px;
    margin-left: auto;




}

.header .small
{

    width: 150px;
    margin-right: 30px;
    font-size: 12px;



}
/* Intro block section */
.hero
{
    background: #1F2937;
    color: white;
    height: 400px;
    display: flex;
    /* outline: 1px green solid; */



}

.hero .greeting
{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;

    padding-left: 200px;
    padding-right: 200px;

    /* outline: 1px pink solid; */


}

.hero .picture
{
    background: #6c747c;
    width: 700px;
    height:300px;
    margin-left: 100px;
    border: 10px #1F2937 solid;
    text-align: center;
    justify-content: center;
    font-family:'Roboto', sans-serif;




}
.desc
{
    padding-top: 120px;
}



 .hello
{
     font-size: 48px;
     font-weight: 900;
     padding-top: 50px;

}

 .info
 {
    padding-top: 10px;
     color: #E5E7EB
 }
 .signup
 {
    background: #3882F6;
     color: white;
     font-size: 24px;
     width: 200px;
     margin-left: 250px;
     margin-top: 10px;
     font-family:'Roboto', sans-serif;
     border-radius: 10px;

 }

/* random info section */

.boxes
{
    display: flex;
    flex-direction: column;
}
.random
{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}
.boxframe
{
    display: flex;
    justify-content: space-between;
    margin-right: 350px;
    margin-left: 350px;
    padding-bottom: 50px;
}
.boxset
{
    display: flex;
    flex-direction: column;
}
.box
{
    border : 5px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.subtext
{
    color: #6c747c;
    font-family: 'Roboto', sans-serif;
    font-size : 12px;
    width: 70px;
    height: 60px;
    padding-left: 20px;
}


/*quote*/
.quote-box
{   background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.quote
{

    color: #1F2937;
    font-size: 32px;
    font-family:  'Roboto', sans-serif;
    text-align: center;
    font-weight: 100;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;

}
.citation
{
    padding: 15px;
    font-size: 24px;
    padding-left: 900px;

}

/*call to action*/

.action
{
    background: #3882F6;
    color: #E5E7EB;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    width: 1500px;
}

.command
{
    font-size: 20px;
    padding-left: 100px;
    padding-right: 200px;

}

/* copyright */

.copyright
{
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 70px;
}